<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CardMapper">

	<select id="getCardData" resultType="com.example.model.entity.CardEntity">
		select
			art.name as name
			, art.title as title
			, art.entry_time as entry_time
			, art.id as id
		from
			article art
			inner join
				users u
			on art.user_id = u.id
		order by
			art.entry_time desc
		LIMIT 10
	</select>
</mapper>