<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<select id="findByUsername" resultType="com.example.model.entity.UserEntity">
		select
			id
		, username
		, password
		from
			users
		where
			username = #{username}
	</select>

	<insert id="save" parameterType="com.example.model.entity.UserEntity">
		INSERT INTO users (username, password)
		VALUES (#{username}, #{password})
	</insert>

</mapper>
